@model mostaan2.ViewModel.incomeListVM
@{
    ViewBag.Title = "check_List";
}

<link href="~/Content/persian-datepicker.css" rel="stylesheet" />
<div class="morphism">
    <link href="~/Content/custom.css" rel="stylesheet" />

    <div class="formParent" id="removePopUp">
        <div class="middlParent " style="">
            <div id="formHolder">
                <link href="~/Content/formStyle.css" rel="stylesheet" />
                <div class="containerr">
                    <form style="padding:2em">
                        <p style="font-size:16px; font-weight:500;margin-bottom:20px">آیا از حذف آیتم مورد نظر اطمینان دارید</p>
                        <div style="display:flex;margin-bottom: -40px;margin-top: 40px;">
                            <input id="verifyRemove" type="button" value="تایید"><br>
                            <input id="cancelRemove" type="button" value="لغو"><br>

                        </div>


                    </form>

                    <div class="drops">
                        <div class="drop drop-1"></div>
                        <div class="drop drop-2"></div>
                        <div class="drop drop-3"></div>
                        <div class="drop drop-5"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="formParent" id="mainForm">
        <div class="middlParent " style="">
            <div id="formHolder">
                <link href="~/Content/formStyle.css" rel="stylesheet" />
                <div class="containerr">
                    <form id="addIncomeForm" method="post" action="addincomeForm" enctype="multipart/form-data">
                        <p>افزودن دریافتی جدید</p>
                        <div style="display:flex">
                            @Html.DropDownList("shenNumber", new SelectList(Model.shenList, "ID", "Title"), "انتخاب پروژه", new { id = "shenNumber", name = "shenNumber" })
                            <select name="inputType" id="inputType">
                                <option> نوع واریزی</option>
                                <option value="واریزی">واریزی</option>
                                <option value="چک">چک</option>
                            </select>
                        </div>
                        <div style="display:flex">
                            <input name="shomareSanad" id="shomareSanad" placeholder="شماره سند واریز/ شماره چک"><br>

                            <input name="onvanVarizi" id="onvanVarizi" placeholder="عنوان واریزی"><br>
                        </div>
                        <div style="display:flex">
                            <select name="vahed" id="vahed">
                                <option>ریال</option>
                                <option>دلار</option>

                            </select>
                            <input name="price" id="price" placeholder="مبلغ" class="inputnumber"><br>
                        </div>
                        <div style="display:flex">
                            @Html.DropDownList("bankCombo", new SelectList(Model.bankList, "ID", "Title"), "انتخاب بانک", new { id = "bankCombo", name= "bankCombo" })

                            <input placeholder="تاریخ سندواریزی / تاریخ چک" name="date" id="date" class="inputForm datePicker" />
                        </div>
                        <input type="file" name="imageInput" id="imageInput" placeholder="پیوست"><br>


                        <input style="display:none;" id="checkID" value="0"><br>
                        <input id="btncheckAdd" type="button" value="تایید">

                    </form>

                    <div class="drops">
                        <div class="drop drop-1"></div>
                        <div class="drop drop-2"></div>
                        <div class="drop drop-3"></div>
                        <div class="drop drop-4"></div>
                        <div class="drop drop-5"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="display:flex;height:100%">
        @{Html.RenderAction("menu", "Home");}

        <div style="width:80%;padding:20px ">
            <div style="display:flex;align-items: center;justify-content: space-between;">
                <h1 class="pageHeading" style="">
                    لیست فاکتور های دریافتی
                </h1>
                @{
                    if (Model.add == "1")
                    {
                        <p class="showForm btn-grad">
                            دریافتی جدید
                        </p>
                    }
                }


            </div>

            <main>
                <table>
                    <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>
                                شماره سند
                            </th>
                            <th>عنوان شناسنامه</th>
                            <th>عنوان</th>
                            <th>

                            </th>


                        </tr>
                    </thead>

                    @*<tfoot>
                        <tr>
                            <th colspan='3'>
                                Year: 2014
                            </th>
                        </tr>
                    </tfoot>*@
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.incomeList)
                            {
                                int index = Model.incomeList.IndexOf(item) + 1;
                                <tr id="@item.ID">
                                    <td>
                                        @index
                                    </td>
                                    <td>
                                        @item.shomareSanad
                                    </td>
                                    <td>
                                        @item.shnesnameTitle
                                    </td>
                                    <td>
                                        @item.subject
                                    </td>

                                    <td class="btn-grad gradBotton sanad">
                                        مشاهده سند
                                    </td>



                                </tr>
                            }
                        }




                    </tbody>
                </table>

            </main>


            <div id="fartorSection" style="text-align:center; margin-top:40px">

            </div>
        </div>

    </div>


    <style>
        .inputForm{
            width:300px;
        }
        form select, form input {
            width: 300px;
        }
    </style>
</div>


@section scripts{
    <script src="~/js/persian-date.min.js"></script>
    <script src="~/js/persian-datepicker.js"></script>
    <script>
        $(function () {
            $(".datePicker").pDatepicker({
                format: 'YYYY/MM/DD',
                autoClose: true
                // options & callbacks here
            });
        });
    </script>
    <script>

        $(".remove").click(function () {
            tobedeleted = $(this).parent().attr('id');

            $("#removePopUp").show();
        })
        $("#cancelRemove").click(function () {
            $("#removePopUp").hide();
        })
        $("#verifyRemove").click(function () {

            $.ajax({
                url: "/home/deletcheck",
                data: {
                    id: tobedeleted
                },
                success: function (obj) {
                    window.location.reload();
                }

            })
        })
        $(".edit").click(function () {
            var id = $(this).parent().attr('id');

            $.ajax({
                url: "/home/getcheckDetail",
                data: {
                    id: id
                },
                success: function (obj) {

                    var array = jQuery.parseJSON(obj)
                    var name = array.title
                    var number = array.number;
                    var type = array.type;


                    $("#name").val(name)
                    $("#shomareHesab").val(number);
                    $('#checkType option[value="' + type + '"]').prop('selected', true)
                    $("#checkID").val(id);
                    $("#mainForm").toggle();

                }

            })

        })
        $(".formParent").click(function () {
            $(this).hide();
            //$(".formParent").toggle();
        })


        $(".formParent form").click(function () {
            event.stopPropagation();
        })
        $(".showForm").click(function () {
            $("#name").val("")
            $("#shomareHesab").val("");
            $("#checkID").val("0");
            $("#mainForm").toggle();
        })
        $('.button, .close').on('click', function (e) {
            e.preventDefault();
            $('.detail, html, body').toggleClass('open');
        });

        $("#inputType").change(function () {

            var value = $(this).val();
            if (value == "واریزی") {
                $("#shomareSanad").attr('placeholder', "شماره سند واریز")
            }
            else if (value == "چک") {
                $("#shomareSanad").attr('placeholder', "شماره چک")
            }

        })

        $("#btncheckAdd").click(function () {



            var shenList = $("#shenList").val();
            var inputType = $("#inputType option:selected").val();
            var vahed = $("#vahed").val();
            var price = $("#price").val();
            var bankCombo = $("#bankCombo").val();
            var date = $("#date").val();
            var shomareSanad = $("#shomareSanad").val();
            

            $("#addIncomeForm").submit();
        })


        $(".sanad").click(function () {
           
            var id = $(this).parent().attr('id');
            $.ajax({
                url: "getFactor",
                data: {
                    id : id,
                },
                success: function (data) {
                    $("#fartorSection").html(data)
                }
            })
        })
    </script>

    <script>

        $(".menuItem").each(function () {
            $(this).removeClass("menuItemActive");
        })
        var elm = $("#daramad")
        elm.addClass("menuItemActive");

    </script>
}

