@model IEnumerable<mostaan2.Model.user>
@{
    ViewBag.Title = "User_List";
}




<div class="morphism">
    <link href="~/Content/custom.css" rel="stylesheet" />
    <div class="formParent" id="removePopUp">
        <div class="middlParent " style="">
            <div id="formHolder">
                <link href="~/Content/formStyle.css" rel="stylesheet" />
                <div class="containerr">
                    <form style="padding:2em">
                        <p style="font-size:16px; font-weight:500;margin-bottom:20px">آیا از حذف آیتم مورد نظر اطمینان دارید</p>
                        <div style="display:flex;margin-bottom: -40px;margin-top: 40px;">
                            <input id="verifyRemove" type="button" value="تایید"><br>
                            <input id="cancelRemove" type="button" value="لغو"><br>

                        </div>


                    </form>

                    <div class="drops">
                        <div class="drop drop-1"></div>
                        <div class="drop drop-2"></div>
                        <div class="drop drop-3"></div>
                        <div class="drop drop-5"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="formParent" id="permisionPopUp">
        <div class="middlParent " style="">
            <div id="formHolder">
                <link href="~/Content/formStyle.css" rel="stylesheet" />
                <div class="containerr">
                    
                    <div id="permisionHolder">
                      
                    </div>

                    <div class="drops">
                        <div class="drop drop-1"></div>
                        <div class="drop drop-2"></div>
                        <div class="drop drop-3"></div>
                        <div class="drop drop-5"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="formParent" id="mainForm">
        <div class="middlParent " style="">
            <div id="formHolder">
                <link href="~/Content/formStyle.css" rel="stylesheet" />
                <div class="containerr">
                    <form>
                        <p>افزودن کاربر جدید</p>
                        <div style="display:flex">
                            <input id="fullname" placeholder="نام و نام خانوادگی"><br>
                            <input id="password" placeholder="رمز عبور"><br>
                        </div>

                        <select id="masooliat">
                            <option value="مسئول مرکز">مسئول مرکز</option>
                            <option value="مدیر پروژه">مدیر پروژه </option>
                            <option value="مسئول ملی">مسئول ملی</option>
                            <option value="مدیر تولید">مدیر تولید</option>
                            <option value="کنترل پروژه"> کنترل پروژه</option>
                        </select>
                        <input id="pasdariCode" placeholder="کد پاسداری"><br>
                        <input style="display:none;" id="UserID" value="0"><br>
                        <input id="btnUserAdd" type="button" value="تایید"><br>

                    </form>

                    <div class="drops">
                        <div class="drop drop-1"></div>
                        <div class="drop drop-2"></div>
                        <div class="drop drop-3"></div>
                        <div class="drop drop-4"></div>
                        <div class="drop drop-5"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="display:flex;height:100%">
         @{Html.RenderAction("menu", "Home");}
        <div style="width:80%;padding:20px ">
            <div style="display:flex;align-items: center;justify-content: space-between;">
                <h1 class="pageHeading" style="">
                    لیست کاربران
                </h1>
                <p class="showForm btn-grad">
                    کاربر جدید
                </p>

            </div>

            <main>
                <table>
                    <thead>
                        <tr>
                            <td>ردیف</td>
                            <th>
                                کد پاسداری
                            </th>
                            <th>نام و نام خانوادگی</th>

                            <th>مسئولیت</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>

                    @*<tfoot>
                            <tr>
                                <th colspan='3'>
                                    Year: 2014
                                </th>
                            </tr>
                        </tfoot>*@
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                int index = Model.ToList().IndexOf(item) + 1;

                                <tr id="@item.ID">
                                    <td>@index</td>
                                    <td>
                                        @item.pasdari_Code
                                    </td>
                                    <td>
                                        @item.name
                                    </td>

                                    <td>
                                        @item.shomareHesab
                                    </td>
                                    <td class="btn-grad gradBotton remove">
                                        حذف
                                    </td>
                                    <td style="width:10px"></td>
                                    <td class="btn-grad gradBotton edit">
                                        ویرایش
                                    </td>
                                    <td style="width:10px"></td>
                                    <td class="btn-grad gradBotton permission">
                                        سطح دسترسی
                                    </td>

                                </tr>
                            }
                        }




                    </tbody>
                </table>

            </main>

        </div>

    </div>


</div>


@section scripts{
    <script>

        $(".menuItem").each(function () {
            $(this).removeClass("menuItemActive");
        })
        var elm = $("#karbar")
        elm.addClass("menuItemActive");

    </script>
    <script>
       
        $(".remove").click(function () {
            tobedeleted = $(this).parent().attr('id');

            $("#removePopUp").show();
        })
        $("#cancelRemove").click(function () {
            $("#removePopUp").hide();
        })
        $("#verifyRemove").click(function () {

            $.ajax({
                url: "/home/deletUser",
                data: {
                    id: tobedeleted
                },
                success: function (obj) {
                    window.location.reload();
                }

            })
        })

        $(".permission").click(function () {
            tobedeleted = $(this).parent().attr('id');
            //$("#permisionPopUp").show();
            $.ajax({
                url: "/home/getUserPermission",
                data: {
                    id: tobedeleted
                },
                success: function (obj) {
                    $("#permisionHolder").html(obj);
                    $("#permisionPopUp").show();

                }

            })


        })
        $(".edit").click(function () {
            var id = $(this).parent().attr('id');

            $.ajax({
                url: "/home/getUserDetail",
                data: {
                    id: id
                },
                success: function (obj) {

                    var array = jQuery.parseJSON(obj)
                    var fullname = array.name
                    var pasdariCode = array.pasdari_Code;
                    var masooliat = array.shomareHesab;
                    var password = array.password;

                    $("#fullname").val(fullname)
                    $("#password").val(password)
                    $("#pasdariCode").val(pasdariCode);
                    $('#masooliat option[value="' + masooliat + '"]').prop('selected', true)
                    $("#UserID").val(id);
                    $("#mainForm").toggle();

                }

            })

        })
        //$(".formParent").click(function () {
        //    $(this).hide();
        //    //$(".formParent").toggle();
        //})


        $(".formParent").find('form').click(function () {
            event.stopPropagation();
        })
        $(".showForm").click(function () {
            $("#fullname").val("");
            $("#pasdariCode").val("");

            $("#password").val("");
            $("#UserID").val("0");
            $("#mainForm").toggle();
        })
        $('.button, .close').on('click', function (e) {
            e.preventDefault();
            $('.detail, html, body').toggleClass('open');
        });

        $("#btnUserAdd").click(function () {
            var name = $("#fullname").val();
            var pasdariCode = $("#pasdariCode").val();
            var masooliat = $("#masooliat").val();
            var password = $("#password").val();
            var UserID = $("#UserID").val();
            $.ajax({
                url: "/Home/addUserForm",
                data: {
                    UserID: UserID,
                    fullname: name,
                    pasdariCode: pasdariCode,
                    masooliat: masooliat,
                    password: password,
                    UserID: UserID
                },
                success: function (data) {

                    window.location.reload();
                }
            })
        })
    </script>

}

